.App {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, #021132 0%, #1a4c79 100%) scroll;
  overflow: scroll;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

.main {
  margin: 20px;
  color: #00c4a7;
}

h1 {
  text-align: center;
  margin: 30px 0;
  text-shadow: -1px -1px white
}