.gameConfig {
    display: flex;
    justify-content: space-evenly
}

.launch {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.launch button {
    padding: 20px;
    background-color: #fffdd8;
    border-radius: 10px;
    border: 3px solid #00c4a7;
    font-size: 1.2rem;
    text-decoration: none;
    color: #00c4a7;
    font-weight: bold;
}

.launch button:hover {
    background-color: #00c4a7;
    border: 3px solid #fffdd8;
    color: #fffdd8
}


.deviceBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.deviceBlock h4, h5 {
    height: 0px;
}

.deviceBlock.selected img {
    border: 3px solid #d8373a;
}

.players {
    margin-top: 10px;
    height: 1.2rem;
    font-size: 0.9rem;
    width: 200px;
    border-radius: 5px;
}

.warning {
    text-align: center;
    font-size: 1.2rem;
    padding: 10px 0;
}