.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 3px solid rgba(10, 195, 167, 0.5);
    z-index: 1;
    position: sticky;
    top: 0px;
    background-color: #264871;
}
