ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
li {
    padding: 2px 5px;
    border-radius: 5px;
}

li:hover, li.active {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, #fffdd8 5%, #fffdd8 95%, rgba(255, 255, 255, 0.1) 100%);
}

li a {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 15px;
    color: #00c4a7;
    text-decoration: none;
    text-shadow: 0.5px 0.5px white;
}

